<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AI-powered meal-planner for your daily life">
    <meta property="og:title" content="Meal Planner" />
    <meta property="og:url" content="https://mewplanner.herokuapp.com/" />
    <meta property="og:description" content="AI-powered meal-planner for your daily life">
    <meta property="og:image" content="{% static 'images/icons/salad_sm.png' %}">
    <meta property="og:type" content="website" />
    <meta name="author" content="MEW">
    <meta name="keywords" content="Meal Planner">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/icons/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/slider/slider.css' %}" />
</head>
<body class="login">

			{% block content %}
			{% endblock %}

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/jquery/jquery.validate.min.js' %}"></script>
	<script src="{% static 'js/jquery.steps.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>