{% extends 'baseLoggedIn.html' %}
{% block title %}MealPlanner - View Plans{% endblock %}
{% load static %}
{% block scripthead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/datatables.css' %}"/>
{% endblock %}

{% block content %}
            <div class="loggedin-content">
                    <h2 class="form-title"><span style="color: #417690;">{{user.username}}</span>, this is your personalised menu for the week <br /><span style="font-size: 24px;">with an estimated {{ targets }} kcal/day</span></h2>
                    <a href="/viewPlan/?details=less">Less Details</a>
                    <div style="background:#fff">
                        {% for dayNum, v in result.items %}
                        <h2 class="meal-title">Day {{dayNum}}</h2>
                        <table class="detailedMenu" id="Day{{dayNum}}">
                            {% for meal, fooditems in v.items %}
                              {% if meal == "1" %} 
                                <tr><th class="meal" colspan="7">breakfast</th></tr>
                              {% elif meal == "2" %} 
                                <tr><th class="meal" colspan="7">lunch</th></tr>
                              {% elif meal == "3" %} 
                                <tr><th class="meal" colspan="7">dinner </th></tr>
                              {% endif %}
                                <tr>
                                  <th>name</th>
                                  <th>calories (kcal)</th>
                                  <th>sodium (mg)</th>
                                  <th>carbo (kcal)</th>
                                  <th>fats (kcal)</th>
                                  <th>protein (kcal)</th>
                                  <th>serving</th>
                                </tr>
                              {% for a in fooditems %}
                                <tr>
                                  <td>{{ a.name }}</td>
                                  <td>{{ a.calories }}</td>
                                  <td>{{ a.sodium}}</td>
                                  <td>{{ a.carbohydrates}}</td>
                                  <td>{{ a.fats}}</td>
                                  <td>{{ a.protein}}</td>
                                  <td>{{ a.serving}}</td>

                                </tr>
                              {% endfor %}
                            {% endfor %}
                        </table>
                        {% endfor %}                  
                    </div>                    
            </div>
      
{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
{% endblock %}
