{% extends 'base.html' %}

{% block title %}MealPlanner - Sign Up {% endblock %}
{% block content %}
    <div class="main">
        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <img src="/static/images/icons/salad.png" class="loader" style="width: 30%;">
                    <form method="POST" id="signup-form" class="signup-form">
                        {% csrf_token %}
                        <h2 class="form-title">Create Meal Planner account</h2>
                        {% for field in form %}
                        <div class="form-group">
                             {{field.label_tag}}
                             {% if field.name == "weight" %}(kg)
                             {% elif field.name == "height" %}(cm)
                             {% endif %}
                             {% if field.field.required %}
                             <span class="label_required">*</span>
                             {% endif %}<br>

                             {{ field }}<br>
                             {% if field.name == "password1" %}
                             <span toggle1="#id_password1" toggle2="#id_password2" class="zmdi zmdi-eye field-icon toggle-password"></span>
                             {% endif %}
                             {% if field.help_text %}
                             <small style="color: grey">{{ field.help_text }}</small>
                             {% endif %}
                             {% for error in field.errors %}
                             <p style="color: red">{{ error }}</p>
                           {% endfor %}
                        </div>
                        <br>
                        {% endfor %}
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit_signup" class="form-submit" value="Sign up"/>
                        </div> 
                    </form>
                    <p class="loginhere">
                        Already have an account? <a href="/login" class="loginhere-link">Login here</a>
                    </p>
                </div>
            </div>
        </section>

    </div>

{% endblock %}